@import url('http://static.cloud.linesno.com/asserts/vendors/fontawesome/css/all.css');

// 颜色
$bannerTextColor = #fff // 首页banner区(博客标题区)的文本颜色
$accentColor = #005bd4 
$activeColor = #ff5722
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 860px
$homePageWidth = 1100px
$rightMenuWidth = 230px // 右侧菜单

.getting-started .outbound,
.nav-links .outbound {
  display: none !important;
}

.getting-started a img {
  margin-right: 8px !important;
}

.getting-started a img.no-margin {
  margin-right: 0px !important;
}

.sidebar-heading {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

//global
p code {
  // color: #e96900!important;
  // background-color: #f8f8f8!important;
  // margin: 0 2px!important;
  // padding: 0.25rem 0.4rem!important;
}

.navbar{
  line-height: 40px;
  height: 65px;

  .logo {
      height: 40px ; 
      min-width: 2.2rem;
      margin-right: 0.8rem;
      vertical-align: top;
      background: #005bd4;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 12px;
  }

  .site-name {
      font-size: 1.3rem;
      font-weight: 600;
      color: #005bd4 ; 
      position: relative;
      padding-left: 50px;
  }

} 
blockquote {
  font-size: 15px !important;
  color: #858585 !important;
  border-left: 0.25rem solid #42b983 !important;
  font-weight: 1000 !important;
}

a.sidebar-link.active {
    font-weight: 600;
    color: $accentColor ; 
    border-left-color: $accentColor  ; 
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    margin-bottom: -2px;
    border-bottom: 2px solid $accentColor; 
    line-height: 2.3rem;
}

.content:not(.custom) {
    max-width: 1024px !important;
}